<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checklist_child_grow_up.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
				<key>dateExpires</key>
				<string>2023/09/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorageInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>7.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20211102.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>1.44.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>1.22.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2B609DEAA9BC2D406D643288CB2C20C191C47E1E</string>
						<key>dateExpires</key>
						<string>2023/09/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>uv.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2TQ3S6F7P4</string>
						<key>name</key>
						<string>takumi maki</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.10</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2TQ3S6F7P4.com.example.demoSnsApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2TQ3S6F7P4</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>1c699763-cd0d-4a00-8cf0-2f56788ee128</string>
				<key>dateExpires</key>
				<string>2023/09/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.example.demoSnsApp</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2TQ3S6F7P4</string>
				<key>name</key>
				<string>takumi maki</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
